*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Roboto','Work Sans','Nunito','Inter','Open Sans', sans-serif;
    background-color: #daedf7;
}
.box{
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
}

a{
    display:inline-block;
    box-sizing: border-box;
    padding: 7px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: bold;
    background-color:grey;
    width: 30%;
     height: 35px;
    margin-top: 20%;
    margin-right: 2%;
}
a:hover{
    background-color: rgba(158,153,153);
}